.App {
  text-align: center;
}

.btn-default {
  display: block;
  height: 100px;
  width: 100px;
  font-size: 16px;
  background-color: gray;
}

.btn-filled {
  display: block;
  height: 100px;
  width: 100px;
  font-size: 16px;
  background-color: red;
}
